<div class="page-profil">
    <div class="container_custom">
        <div class="top-profil">
            <img src="http://www.businesspme.net/public/_upload/images/photos_personnes/11_img-9909-1-carre-zoom.jpg"
                 class="rounded-circle img-thumbnail resizePP" alt="...">
            <h1>{{user.firstName}} {{user.lastName}}</h1>
            <div class="description-profil">
                <span class="function-profil">Membre</span>
                <span> | UX/UI designer | France</span>
            </div>
            <button type="button" class="btn btn-outline-secondary tags-under-pp">SITE WEB</button>
            <button type="button" class="btn btn-outline-secondary tags-under-pp"><i class="fa fa-share"></i></button>
            <p>Co-fondateur et directeur de création de l'agence digitale Mentalworks, DA UX/UI.</p>
            <div class="profil-btn">
                <button type="button" class="btn btn-outline-secondary">ux design</button>
                <button type="button" class="btn btn-outline-secondary">Création de site web</button>
                <button type="button" class="btn btn-outline-secondary">web design</button>
                <button type="button" class="btn btn-outline-secondary">e-marketing</button>
                <button type="button" class="btn btn-outline-secondary">e-marketing</button>
                <button type="button" class="btn btn-outline-secondary">stratégie web</button>
                <button type="button" class="btn btn-outline-secondary">création de logo</button>
                <button type="button" class="btn btn-outline-secondary">ui design</button>
                <button type="button" class="btn btn-outline-secondary">charte & identité visuelle</button>
            </div>
        </div>
        <div class="profil-menu">
            <ul class="nav nav-tabs menu-tab-profil">
                <li class="nav-item">
                    <a class="nav-link disabled" routerLinkActive="active" [routerLink]="['myProfil']">Mon Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" routerLinkActive="active">Projets que j'aime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" routerLinkActive="active" [routerLink]="['profilNotedProjects']">Projets
                        notés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Clients administrés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Agences administrées</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Awards obtenus</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="line-under-menu">
</div>
