<p class="text-center">
    <img *ngIf="showLoader"
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

</p>
<div *ngIf="!showLoader" class="page-profil">
    <div class="container_custom">
        <div class="top-profil">
            <img src="http://localhost:8000/uploads/images/user/{{ image}}"
                 class="rounded-circle img-thumbnail resizePP" alt="...">
            <h1></h1>
            <div class="description-profil">

                <span class="function-profil">{{ role }}</span><span *ngIf="mainSkin != ''"> | {{ mainSkin }}  </span> <span *ngIf="country != ''"> |   {{ country }}</span>
            </div>
            <a href="{{ websiteUrl }}" target="_blank" type="button" class="btn btn-outline-secondary tags-under-pp">SITE WEB</a>
            <button type="button" class="btn btn-outline-secondary tags-under-pp"><i class="fa fa-share"></i></button>
            <p>{{ presentation }}</p>
            <div class="profil-btn">
                <button *ngFor="let itemCateg of categories" type="button" class="btn btn-outline-secondary">{{ itemCateg.name }}</button>
            </div>
        </div>
        <div class="profil-menu">
            <ul class="nav nav-tabs menu-tab-profil">
                <li class="nav-item">
                    <a class="nav-link disabled" routerLinkActive="active" [routerLink]="['myProfil']">Mon Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" routerLinkActive="active">Projets que j'aime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" routerLinkActive="active" [routerLink]="['profilNotedProjects']">Projets
                        notés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Clients administrés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Agences administrées</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Awards obtenus</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="line-under-menu">
</div>
