<div style="background-color: #dddddd;">
<div class="container" >
   <div class="text-center" style="padding-top: 40px; padding-bottom: 40px;">
     <img src="http://www.businesspme.net/public/_upload/images/photos_personnes/11_img-9909-1-carre-zoom.jpg" class="rounded-circle img-thumbnail" alt="..." style="width: 20%">
     <h1>Olivier Salesse</h1>
     <span>Membre</span><span style="color: grey"> | UX/UI designer | France</span><br><br>
     <button type="button" class="btn btn-outline-secondary call-to-action">SITE WEB</button>
     <button type="button" class="btn btn-outline-secondary call-to-action"><i class="fa fa-share"></i></button><br><br>
     <p><strong>Co-fondateur et directeur de création de l'agence digitale Mentalworks, DA UX/UI.</strong></p>
     <button type="button" class="btn btn-outline-secondary tags">UX DESIGN</button>
     <button type="button" class="btn btn-outline-secondary tags">WEB DESIGN</button>
     <button type="button" class="btn btn-outline-secondary tags">E-MARKETING</button>
     <button type="button" class="btn btn-outline-secondary tags">UI DESIGN</button>
   </div>
  </div>
</div>
