.call-to-action {
    border-radius: 50px;
}

.tags {
    border-radius: 50px;
    background-color: #89898b;
    color: white;
    border-color: #89898b;
}
.tags:hover {
    background-color: white;
    color: dimgrey;
}


.grey {
    color: grey;
}

.greyBackground {
    background-color: #dddddd;
}

.central {
    padding-top: 40px;
    padding-bottom: 40px;
}

.tabCenter {
    position: relative;
    left: 10%;
}

.resizePP{
    width: 20%;
}

.active a {
    text-decoration: none;
    border-bottom: 10px solid red;
}
