<div id="profil-dropdown" class="dropdown">
  <img src="assets/img/moi.jpg">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Valentin REGNIER
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Mon profil</a>
    <a class="dropdown-item" href="#">Mes favoris</a>
    <a class="dropdown-item" href="#">Projets notés</a>
    <a class="dropdown-item" href="#">Projets soumis</a>
    <a class="dropdown-item" href="#">Clients</a>
    <a class="dropdown-item" href="#">Agences</a>
    <a class="dropdown-item" href="#">Awards obtenus</a>
    <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-log-out"></span> Deconnexion</a>
  </div>
</div>