<div id="profil-dropdown" class="dropdown">
  <img src="assets/img/moi.jpg">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{user.firstName}} {{user.lastName}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item clickable" (click)="navToMyProfile()">Mon profil</a>
    <a class="dropdown-item" href="#">Mes favoris</a>
    <a class="dropdown-item" href="#">Projets notés</a>
    <a class="dropdown-item" href="#">Projets soumis</a>
    <a class="dropdown-item" href="#">Clients</a>
    <a class="dropdown-item" href="#">Agences</a>
    <a class="dropdown-item" href="#">Awards obtenus</a>
    <a *ngIf="hasAuthToken()" (click)="logout()" class="dropdown-item" href="#"><i class="fas fa-sign-out" aria-hidden="true"></i> Deconnexion</a>
  </div>
</div>