<div class="greyBackground">
  <div class="container">
    <div class="text-center central">
      <img src="https://www.gueudet.fr/img/gueudet-automobile.png"
           class="rounded-circle img-thumbnail resizePP" alt="...">
      <h1>Guedet</h1>
      <div>
        <span>Grande Entreprise</span><span class="grey"> | Automobile | France</span><br><br>
      </div>
      <div>
        <i class="fas fa-eye"></i>
        <i class="fas fa-heart"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-arrow-alt-circle-up"></i>
      </div>
      <button type="button" class="btn btn-outline-secondary call-to-action">SITE WEB</button>
      <button type="button" class="btn btn-outline-secondary call-to-action"><i class="fa fa-share"></i></button>
      <br><br>
      <p><strong>Le groupe Guedet est le 2ème distributeurs automobile en France avec un CA de 1.1M d'Euros, 9 Marques et 158 concessions situées principalement dans le nord de la france</strong></p>
      <button type="button" class="btn btn-outline-secondary tags">UX DESIGN</button>
      <button type="button" class="btn btn-outline-secondary tags">WEB DESIGN</button>
      <button type="button" class="btn btn-outline-secondary tags">E-MARKETING</button>
      <button type="button" class="btn btn-outline-secondary tags">UI DESIGN</button>
      <button type="button" class="btn btn-outline-secondary tags">CRM</button>
      <button type="button" class="btn btn-outline-secondary tags">Intranet</button>
    </div>
  </div>
</div>
<div class="infoClient">
  <div class="container">
    <div class="text-center central">
      <p>Salut</p>
    </div>
  </div>
</div>
