.central {
  padding-top: 40px;
  padding-bottom: 40px;
}
.resizePP{
  width: 222px;
  height: 222px;
}
.infoClient{
  height: auto;
  background-color: #FFFFFF;
}
.infoClient .info{
  margin-right: 5%;
}
.infoClient .container{
  display: flex;
  flex-direction: column;
}
.infoClient .container .row{
  justify-content: center;
}
.infoClient .header-info p{
  font-weight:bold;
  margin-top: 15px;
  margin-bottom: 0;
}
.infoClient .footer-info p{
  font-weight: bold;
  margin-bottom: 15px;
}
.vertical_line_grey{
  border-left:1px solid #666;
  height: 13px;
  margin: 7px 12px 6px;
}
.font-bold{
  font-weight: bold;
}
i{
  font-size: 12px;
  color: #989898;
}
.desc-agency{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom:15px;
}
.social-rate{
  margin-bottom:15px;
}
.category-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.category-btn button{
  margin-right: 1%;
  width:auto;
}







.call-to-action {
  border-radius: 50px;
}
.tags {
  border-radius: 50px;
  background-color: #89898b;
  color: white;
  border-color: #89898b;
}
.tags:hover {
  background-color: white;
  color: dimgrey;
}
.grey {
  color: grey;
}
.greyBackground {
  background-color: #dddddd;
}
@media screen and (max-width:1198px){
  .infoClient .info {
    text-align: center;
  }
}

