<div *ngIf="customer" class="info-client-page">
    <div class="container">
        <div class="text-center central">
            <img src="http://localhost/3w_awards/back/web/uploads/images/customers/{{customer.image}}" class="rounded-circle img-thumbnail resizePP">
            <h1 class="font-bold">{{customer.name}}</h1>
            <div class="desc-agency">
                <span class="font-bold">{{ customer.expertise }}</span>
                <div class="vertical_line_grey"></div>
                <span> {{customer.name}} </span>
                <div class="vertical_line_grey"></div>
                <span> {{customer.country}}</span>
            </div>
            <div class="social-rate">
                <i class="fas fa-eye"> 999 K</i>
                <i class="fas fa-heart"> 999 K</i>
                <i class="fas fa-star"> 1 Awards</i>
                <i class="fas fa-arrow-alt-circle-up"> Note globale : 8.9</i>
            </div>
            <div class="description-btn">
                <button type="button" class="btn btn-outline-secondary">SITE WEB</button>
                <button type="button" class="btn btn-outline-secondary"><i class="fa fa-share"></i></button>
                <p><strong>{{customer.presentation}}</strong></p>
            </div>
            <div class="category-btn">
                <button *ngFor="let cat of customer.category" type="button" class="btn btn-outline-secondary">{{ cat.label }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="infoClient">
    <div class="container">
        <div class="row">
            <div class="info">
                <div class="header-info">
                    <p>Pays</p>
                </div>
                <div class="footer-info">
                    <p>{{customer.country}}</p>
                </div>
            </div>
            <div class="info">
                <div class="header-info">
                    <p>Catégorie</p>
                </div>
                <div class="footer-info">
                    <p>{{customer.name}}</p>
                </div>
            </div>
            <div class="info">
                <div class="header-info">
                    <p>Secteur d'activité</p>
                </div>
                <div class="footer-info">
                    <p>{{ customer.expertise}}</p>
                </div>
            </div>
            <div class="info">
                <div class="header-info">
                    <p>Date de création</p>
                </div>
                <div class="footer-info">
                    <p>{{customer.creation_date.slice(0,10)}}</p>
                </div>
            </div>
            <div class="info">
                <div class="header-info">
                    <p>Chiffre d'affaires</p>
                </div>
                <div class="footer-info">
                    <p>{{customer.revenue}}</p>
                </div>
            </div>
            <div class="info">
                <div class="header-info">
                    <p>Effectifs</p>
                </div>
                <div class="footer-info">
                    <p>{{customer.staff_number}}</p>
                </div>
            </div>
            <div class="info">
                <div class="header-info">
                    <p>Auteurs</p>
                </div>
                <div class="footer-info">
                    <p>3</p>
                </div>
            </div>
        </div>
    </div>
</div>
