<div class="greyBackground">
  <div class="container">
    <div class="text-center central">
      <img src="https://www.gueudet.fr/img/gueudet-automobile.png"
           class="rounded-circle img-thumbnail resizePP" alt="...">
      <h1>Guedet</h1>
      <div>
        <span>Grande Entreprise</span><span class="grey"> | Automobile | France</span><br><br>
      </div>
      <div>
        <i class="fas fa-eye"></i>
        <i class="fas fa-heart"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-arrow-alt-circle-up"></i>
      </div>
      <button type="button" class="btn btn-outline-secondary call-to-action">SITE WEB</button>
      <button type="button" class="btn btn-outline-secondary call-to-action"><i class="fa fa-share"></i></button>
      <br><br>
      <p><strong>Le groupe Guedet est le 2ème distributeurs automobile en France avec un CA de 1.1M d'Euros, 9 Marques et 158 concessions situées principalement dans le nord de la france</strong></p>
      <button type="button" class="btn btn-outline-secondary tags">UX DESIGN</button>
      <button type="button" class="btn btn-outline-secondary tags">WEB DESIGN</button>
      <button type="button" class="btn btn-outline-secondary tags">E-MARKETING</button>
      <button type="button" class="btn btn-outline-secondary tags">UI DESIGN</button>
      <button type="button" class="btn btn-outline-secondary tags">CRM</button>
      <button type="button" class="btn btn-outline-secondary tags">Intranet</button>
    </div>
  </div>
</div>
<div class="infoClient">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="info ml-4 mr-4">
        <p>Pays</p>
        <p class="grey_text">France</p>
      </div>
      <div class="info ml-4 mr-4">
        <p>Catégorie</p>
        <p class="grey_text">Grande Entreprise</p>
      </div>
      <div class="info ml-4 mr-4">
        <p>Secteur d'activité</p>
        <p class="grey_text ">Automobile</p>
      </div>
      <div class="info ml-4 mr-4">
        <p>Date de création</p>
        <p class="grey_text">2000</p>
      </div>
      <div class="info ml-4 mr-4">
        <p>Chiffre d'affaires</p>
        <p class="grey_text"> + de 500M</p>
      </div>
      <div class="info ml-4 mr-4">
        <p>Effectifs</p>
        <p class="grey_text">1200</p>
      </div>
      <div class="info ml-4 mr-4">
        <p>Auteurs</p>
        <p class="grey_text">3</p>
      </div>
    </div>
  </div>
</div>
