.spacing{
  padding-bottom: 5%;
}
.grey{
  background-color: #DDDDDD;
}
.card-title{
  font-size: 14px;
}
.card-text{
  font-size: 14px;
}
.text-muted{
  font-size: 14px;
}
.links{
  color: #989898;
}
.links:hover{
  color: #5b5b5b;
  text-decoration: none;
}

.card-img-top{
  display: block;
  opacity: 1;
}
.card:hover img{
  opacity: 0.6 !important;
}
.card .card-body{
  padding: 0.8rem;
}
.card-columns .card {
  display: flex !important;
  width: 100% !important;
}


.footerCard{
  display: flex;
}
.footerCard .date p{
  font-size:11px;
  margin: 6px 0 0;
}
.footerCard .linking i{
  font-size: 10px;
}
.container .card-columns{
  column-count: 4;
}
.footerCard .linking {
  margin-left: 7%;
}
/* responsive */
@media screen and (max-width: 1199px){
  .footerCard{
    display:block;
  }
  .footerCard .linking {
    margin-left: 0;
  }
}
@media screen and (max-width: 991px){
  .container .card-columns{
    column-count: 2;
  }
  .footerCard{
    display:flex;
  }
  .footerCard .linking {
    margin-left: 10%;
  }
  .footerCard .date p{
    font-size:13px;
    margin: 6px 0 0;
  }
  .footerCard .linking i{
    font-size: 13px;
  }
}

@media screen and (max-width: 766px){
  .footerCard .date p{
    font-size:10px;
    margin: 6px 0 0;
  }
  .footerCard .linking i{
    font-size: 10px;
  }
  .footerCard .linking {
    margin-left: 5%;
  }
}
@media screen and (max-width: 574px){
  .container .card-columns{
    column-count: 1;
  }
  .footerCard .date p{
    font-size:12px;
    margin: 6px 0 0;
  }
  .footerCard .linking i{
    font-size: 11px;
  }
  .footerCard .linking {
    margin-left: 45%;
    margin-top: 4px;
  }
}
@media screen and (max-width: 480px) {
  .footerCard{
    display:block;
  }
  .footerCard .linking {
    margin-left: 0;
  }
}

