.grey{
}
.card-body{
  height: 105px;
}
.card-title{
  font-size: 14px;
}
.card-text{
  font-size: 14px;
}
.card-title{
  font-size: 14px;
}
.text-muted{
  font-size: 14px;
}
a{
  color: #999999;
}
a:hover{
  color: #5b5b5b;
  text-decoration: none;
}

.card-img-top{
  display: block;
  opacity: 1;
}
.card:hover img{
  opacity: 0.6 !important;
}
.card{
  margin: 55px 35px 55px 35px;
}

