/* All general css for the application */
@import "css/register-login.css";
@import "css/cards.css";
@import "css/profile.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://use.fontawesome.com/releases/v5.0.7/css/all.css";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700,700i,900";

.btn-red {
    background-color: #eb1c24;
    font-weight: 700 !important;
    color: white;
    border-radius: 50px !important;
}

html {
    font-family: 'Monserrat', 'Open Sans', sans-serif;
}

.center-btn {
    text-align: center;
    margin-top: 15px;
}

.grey_text{
  color: #989898;
}

.tags
{
    margin-bottom:10px;
    max-width: 150px;
}

.delete-row-padding
{
    margin-left: inherit !important;
    margin-right: inherit !important;
}


