/* All general css for the application */
@import "css/register-login.css";
@import "css/cards.css";
@import "css/profile.css";
@import "css/circle.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://use.fontawesome.com/releases/v5.0.7/css/all.css";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700,700i,900";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

.btn-red {
    background-color: #eb1c24;
    font-weight: 700 !important;
    color: white;
    border-radius: 50px !important;
}

html {
    font-family: 'Monserrat', 'Open Sans', sans-serif;
}
.container_custom {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1200px) {
    .container_custom {
        max-width: 1140px;
    }
}
@media screen and (max-width: 992px) {
    .container_custom {
        max-width: 960px;
    }
}

@media screen and (max-width: 768px) {
    .container_custom {
        max-width: 720px;
    }
}
@media screen and (max-width: 576px) {
    .container_custom {
        max-width: 540px;
    }
}

.center-btn {
    text-align: center;
    margin-top: 15px;
}

.grey_text{
  color: #989898;
}

.tags
{
    margin-bottom:10px;
    max-width: 150px;
}

.delete-row-padding
{
    margin-left: inherit !important;
    margin-right: inherit !important;
}

#alert-home
{
    margin-top: -54px !important;
    margin-bottom:100px !important;
}

.clickable
{
    cursor: pointer;
}

