<footer class="footer">
  <div class="content">
    <div class="row">
      <div class="col">
        <div class="about">
          <b><p class="uppercase grey_text">A PROPOS de 3W AWARDS</p></b>
          <p class="grey_text">
            Nous sommes une plateforme communautaire libre et indépendante composée d'experts du digital et de L'UX/UI qui évalue et favorise les meilleurs sites web dans différentes catégories, soumis par les propriétaires eux-mêmes ou les professionels qui les ont créés
          </p>
          <p class="text-muted">© 3W AWARDS tout droits réservés</p>
        </div>
      </div>
      <div class="col">
        <div class="mapsite">
            <a class="links" href=""><p class="grey_text nomargin">Home</p></a>
            <a class="links" href=""><p class="grey_text nomargin">Nominés</p></a>
            <a class="links" href=""><p class="grey_text nomargin">Awards</p></a>
            <a class="links" href=""><p class="grey_text nomargin">Annuaire</p></a>
            <a class="links" href=""><p class="grey_text nomargin">Blog</p></a>
            <a class="links" href=""><p class="grey_text nomargin">Offre d'emploi</p></a>
            <a class="links" href=""><p class="grey_text nomargin">Boutique</p></a>
            <a class="links" href=""><p class="grey_text nomargin">A Propos</p></a>
            <a class="links" href=""><p class="grey_text nomargin">Contact</p></a>
        </div>
      </div>
      <div class="col">
        <div class="latestsubmitted">
          <b><p class="uppercase grey_text">Derniers sites soumis</p></b>
        </div>
      </div>
      <div class="col">
      </div>
      <div class="col">
        <div class="social">
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin-in"></i>
          <i class="fab fa-google-plus-g"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
