p{
  font-size: 12px;
}
.footer{
  background-color: #39393A;
}
.about{
  width: 20em;
}

.mapsite{
  padding-left: 3%;
}

.social{
  font-size:1em;
  color: grey;
}

.grey_text{
  color: #989898;
}

.nomargin{
  margin: 0px;
}

.links{
  text-decoration: underline;
  text-decoration-color: #989898;
}
