{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand"
                       href="#">{% block main_title %}Put your title page in this block when you extend your template {% endblock %}</a>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}