<app-carousel></app-carousel>

<div class="album position-album py-5 bg-light">
    <div class="container">
        <div class="special-container">
            <p class="text-center font-weight-bold">Site e-commerce de l'activité automobile du groupe Gueudet avec
                présentation des marques, des concessions et mise en avant du catalogue des véhicules d'occasion
                proposés à la vente.</p>
            <div class="center-btn">
                <button type="button" class="btn btn-outline-secondary tags">VOITURES</button>
                <button type="button" class="btn btn-outline-secondary tags">DISTRIBUTEUR AUTOMOBILE</button>
                <button type="button" class="btn btn-outline-secondary tags">CONCESSIONS</button>
                <button type="button" class="btn btn-outline-secondary tags">OCCASIONS</button>
                <button type="button" class="btn btn-outline-secondary tags">GARAGES</button>
                <button type="button" class="btn btn-outline-secondary tags">GUEUDET</button>
                <button type="button" class="btn btn-outline-secondary tags">RENAULT</button>
                <button type="button" class="btn btn-outline-secondary tags">BMW</button>
                <button type="button" class="btn btn-outline-secondary tags">MINI</button>
                <button type="button" class="btn btn-outline-secondary tags">DACIA</button>
                <button type="button" class="btn btn-outline-secondary tags">TOYOTA</button>
                <button type="button" class="btn btn-outline-secondary tags">NISSAN</button>
                <button type="button" class="btn btn-outline-secondary tags">OPEL</button>
                <button type="button" class="btn btn-outline-secondary tags">VOLSWAGEN</button>
            </div>
        </div>
        <div class="row delete-row-padding panel-info">
            <div class="col-md-3">
                <p class="card-text"><b>Type de site</b></p>
                <p class="card-text grey-website"><b>Portail groupe</b></p>

                <p class="card-text"><b>Secteur d'activité</b></p>
                <p class="grey-website card-text"><b>Automobile</b></p>

                <p class="card-text"><b>Cible</b></p>
                <p class="card-text grey-website"><b>B2C</b></p>
            </div>
            <div class="col-md-3">
                <p class="card-text"><b>Objet</b></p>
                <p class="card-text grey-website"><b>Refonte globale</b></p>

                <p class="card-text"><b>Budget</b></p>
                <p class="card-text grey-website"><b>100-150 K€</b></p>

                <p class="card-text"><b>Langues</b></p>
                <p class="card-text grey-website"><b>FR</b></p>
            </div>
            <div class="col-md-3">
                <p class="card-text"><b>Realisé par</b></p>
                <p class="card-text grey-website"><b>Mentalworks</b></p>

                <p class="card-text"><b>Nom du client</b></p>
                <p class="card-text grey-website"><b>Gueudet</b></p>

                <p class="card-text"><b>Taille du client</b></p>
                <p class="card-text grey-website"><b>Grande entreprise</b></p>
            </div>
            <div class="col-md-3">
                <p class="card-text"><b>Date de publication</b></p>
                <p class="card-text grey-website"><b>5 fevrier 2017</b></p>

                <p class="card-text"><b>Crédits</b></p>

                <p class="grey-website"><b>Olivier Salesse</b> (direction artistique)</p>
                <p class="grey-website"><b>Jean Dupont</b> (conception-rédaction)</p>
                <p class="grey-website"><b>Charles Villeneuve</b> (architecture)</p>
            </div>
        </div>
    </div>
</div>
