<nav class="navbar navbar-light bg-light" id="navigation">
  <div class="col-md-6">
    <div class="navbar-brand navigation custom_left_element_navbar" href="#">
      <div class="burger_menu_custom">
      <i class="material-icons">reorder</i>
      <p> Menu</p>
      </div>
      <div class="logo_slogan">
      <img [src]="imgLogo" alt="3w_awards">
        <div class="vertical_line_red"> </div>
        <p> Les meilleurs site du web dans chaque catégorie </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="navbar-brand navigation custom_right_element_navbar">
        <i class="material-icons">account_box</i>
        <p>Connexion</p>
        <div class="vertical_line_grey"></div>
        <p>inscription</p>
        <button class="btn btn-outline-danger my-2 my-sm-0 round" type="submit">Soumettre un site</button>
        <select name="lang" id="">
          <option value="France" selected>FR</option>
          <option value="English">EN</option>
        </select>
    </div>
  </div>
</nav>
