<nav class="navbar navbar-light">
  <div class="left-nav">
    <div class="dropdown">
      <button class="btn-menu" type="button" data-toggle="dropdown">
        <i class="fas fa-bars"></i>
        Menu
      </button>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['/']">HOME</a></li>
        <li><a [routerLink]="['/agency']">AGENCY</a></li>
        <li><a [routerLink]="['/client']">CLIENT</a></li>
        <li><a [routerLink]="['/website']">WEBSITE</a></li>
        <li><a [routerLink]="['/profil']">PROFIL</a></li>
        <li><a [routerLink]="['/profil/myprofil']">MYPROFIL</a></li>
        <li><a [routerLink]="['/profil/profilNotedProjects']">PROFIL_NOTED_PROJECTS</a></li>


      </ul>
    </div>
    <img [src]="imgLogo" routerLink="/" alt="3w_awards">
    <div class="vertical_line_red"></div>
    <p id="textNavBar"> Les meilleurs site du web dans chaque catégorie </p>
  </div>
  <div class="right-nav">
    <i id="searchIcon" class="fas fa-search" (click)="openSearch()"></i>
    <app-search *ngIf="search"></app-search>
    <a *ngIf="autorized()" href="http://3wawards/app_dev.php/admin/?action=list&entity=Agency" target="_self">Administration</a>
    <app-login></app-login>
    <div class="vertical_line_grey"></div>
    <!--<span> Inscription </span>-->
    <app-register></app-register>
    <a [routerLink]="['/submitWebsite']">
      <button class="btn btn-outline-danger">Soumettre un site</button>
    </a>
    <select name="lang" id="">
      <option value="France" selected>FR</option>
      <option value="English">EN</option>
    </select>
  </div>
</nav>


<!--<nav class="col-md-12 navbar navbar-light bg-light" id="navigation">
    <div class="col-md-6">
      <div class="navbar-brand navigation custom_left_element_navbar" href="#">
        <div class="burger_menu_custom">
          <button  (click)="showBtn()" class="navbar-toggler  noborder" type="button"><i class="fas fa-bars"></i>
          </button><p> Menu</p>
          <div id="menu-nav" >
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">NOMINÉS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">AWARDS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">AGENCES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">JURY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">JOBS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">SHOP</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="logo_slogan">
          <img [src]="imgLogo" alt="3w_awards">
          <div class="vertical_line_red"> </div>
          <p> Les meilleurs site du web dans chaque catégorie </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="navbar-brand navigation custom_right_element_navbar">
        <i class="fas fa-search"></i>
        <app-login></app-login>
        <a *ngIf="autorized()" href="http://3wawards/app_dev.php/admin/?action=list&entity=Agency" target="_self">Administration</a>
        <div class="vertical_line_grey"></div>
        <app-register></app-register>
        <button class="btn btn-outline-danger my-2 my-sm-0 round" type="submit">Soumettre un site</button>
        <select class="noborder" name="lang" id="">
          <option value="France" selected>FR</option>
          <option value="English">EN</option>
        </select>
      </div>
    </div>
</nav> -->
