.navbar{
  display:flex;
  align-items: flex-start;
  height: 160px;
}
.btn-menu {
  background-color: transparent;
  cursor:pointer;
  border:none;
  width: 90px;
  height: 35px;
}
.show .btn-menu{
  background-color:#39393A;
  color:#ddd;
}
.dropdown-menu{
  border:none;
  min-width:90px;
  background-color:#39393A;
  margin:0;
  border-radius:unset;
  top:35px;
}
.dropdown-menu a{
  color:#ddd;
  margin-left: 5px;
}
.left-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.left-nav p{
  margin-top:14px;
}
.vertical_line_red{
  border-left:1px solid red;
  height:30px;
  margin: 15px;
}
.right-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 67px;
}
.right-nav i{
  margin-right: 40px;
  color: #666;
  font-size: 19px;
}
.right-nav span{
  text-transform: uppercase;
  color:#666;
  font-size:14px;
}
.right-nav .btn-outline-danger{
  border: 2px solid red;
  border-radius: 20px;
  margin-left: 25px;
  text-transform: uppercase;
  font-size:14px;
}

.right-nav select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left:15px;
  border:none;/* remove default arrow */
  background-color: transparent;
}
.vertical_line_grey{
  border-left:1px solid #666;
  height:14px;
  margin: 10px;
}

@media screen and (max-width: 1250px) {
  .vertical_line_red {
    display: none;
  }
  .left-nav p{
    display:none;
  }
  .right-nav i{
    margin-right:10px;
  }
}
@media screen and (max-width:800px){
  .right-nav span{
    display:none;
  }
  .right-nav .vertical_line_grey{
    display:none;
  }
}
@media screen and (max-width:850px) {
  .right-nav .btn-outline-danger {
    margin-left: 0;
  }
}

@media screen and (max-width: 630px) {
  .right-nav .btn-outline-danger{
    display:none;
  }
  .right-nav select{
    margin-left:0;
  }
  .left-nav img{
    width:160px;
  }
  .right-nav{
    height:53px;
  }
}
@media screen and (max-width: 390px) {
  .right-nav select{
    font-size:12px;
  }
  .left-nav img{
    width:104px;
  }
  .right-nav{
    height:34px;
  }
  .right-nav i{
    font-size:12px;
    margin-right:3px;
  }
  .btn-menu {
    width:76px;
  }
}










/*
.custom_left_element_navbar{
  margin: 0 0 8%;
}
.navigation{
  display: flex;
  align-items: center;
}

.burger_menu_custom{
  display:flex;
  margin:0;
}
.burger_menu_custom p {
  margin: 0 0 0 5px;
}
.material-icons {
  padding-top: 4px;
}

#menu-nav{
  background: #5e5e5e;
  display: none;
  z-index: 10;
}

.nav-link{
  padding: 0;
}
.logo_slogan{
  display:flex;
  margin-left: 20px;
}
.logo_slogan p{
  padding-top: 17px;
}
.vertical_line_red{
  border-left:1px solid red;
  height:30px;
  margin: 20px;
}


.custom_right_element_navbar{
  margin: 0px 0px 15%;
}

.custom_right_element_navbar p{
  margin: 10px;
}

.custom_right_element_navbar button{
  border: 2px solid red;
  margin-right: 10px;
}

.vertical_line_grey{
  border-left:1px solid darkgrey;
  height:20px;
}

.round{
  border-radius: 17px;
}
#navigation{
  position: absolute;
  min-height: 150px;
}

.noborder{
  border: none;
}
*/
