<div class="container">
  <h1>Wesbite Form</h1>
  <form  [formGroup]="websiteForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="ProjectName">Nom du projet</label>
        <input id="ProjectName" type="text" class="form-control" formControlName="project_name" required>
    </div>
    <div class="form-group">
        <label for="ProjectDescription">Description</label>
        <input id="ProjectDescription" type="text" class="form-control" formControlName="project_description" required>
    </div>
    <div class="form-group">
        <label for="keywords">keywords</label>
        <input id="keywords" type="text" class="form-control" formControlName="keywords" required>
    </div>
    <div class="form-group">
        <label for="image1">image</label>
        <input id="image1" type="file" class="form-control" formControlName="image" required>
    </div>
    <div class="form-group">
        <label for="image2">screenshot</label>
        <input id="image2" type="file" class="form-control" formControlName="screenshot" >
    </div>
    <div class="form-group">
        <label for="image3">second</label>
        <input id="image3" type="file" class="form-control" formControlName="second" >
    </div>
    <div class="form-group">
        <label for="websitetype">website_type</label>
        <input id="websitetype" type="text" class="form-control" formControlName="website_type" required>
    </div>
    <div class="form-group">
        <label for="activity">activity_area</label>
        <input id="activity" type="text" class="form-control" formControlName="activity_area" required>
    </div>
    <div class="form-group">
        <label for="target">target</label>
        <input id="target" type="text" class="form-control" formControlName="target" required>
    </div>
    <div class="form-group">
        <label for="projectFocus">project_focus</label>
        <input id="projectFocus" type="text" class="form-control" formControlName="project_focus" required>
    </div>
    <div class="form-group">
        <label for="projectBudjet">project_budget</label>
        <input id="projectBudjet" type="number" class="form-control" formControlName="project_budget" required>
    </div>
    <div class="form-group">
        <label for="languages">languages</label>
        <input id="languages" type="text" class="form-control" formControlName="languages" required>
    </div>
    <div class="form-group">
        <label for="createdBy">created_by</label>
        <input id="createdBy" type="text" class="form-control" formControlName="created_by" required>
    </div>
    <div class="form-group">
        <label for="client">client_name</label>
        <input id="client" type="text" class="form-control" formControlName="client_name" required>
    </div>
    <div class="form-group">
        <label for="releasedate">release_date</label>
        <input id="releasedate" type="text" class="form-control" formControlName="release_date" required>
    </div>
    <div class="form-group">
        <label for="agency" >giving_to_agency</label>
        <input id="agency" type="text" class="form-control" formControlName="giving_to_agency" required>
    </div>
    <div class="form-group">
        <label for="keyFunctionallity">keyFunctionnality</label>
        <input id="keyFunctionallity" type="text" class="form-control" formControlName="keyFunctionnality" required>
    </div>
    <div class="form-group">
        <label for="technofront">tech_front</label>
        <input id="technofront" type="text" class="form-control" formControlName="tech_front" required>
    </div>
    <div class="form-group">
        <label for="devlanguage">dev_languages</label>
        <input id="devlanguage" type="text" class="form-control" formControlName="dev_languages" required>
    </div>
    <div class="form-group">
        <label for="framework">framework</label>
        <input id="framework" type="text" class="form-control" formControlName="framework" required>
    </div>
    <div class="form-group">
        <label for="cms">cms</label>
        <input id="cms" type="text" class="form-control" formControlName="cms" required>
    </div>
    <div class="form-group">
        <label for="technical">technical_challenges</label>
        <input id="technical" type="text" class="form-control" formControlName="technical_challenges" required>
    </div>
    <div class="form-group">
        <label for="focal">focal_points</label>
        <input id="focal" type="text" class="form-control" formControlName="focal_points" required>
    </div>
    <div class="form-group">
        <label for="view_number">view_number</label>
        <input id="view_number" type="number" class="form-control" formControlName="view_number" required>
    </div>
    <div class="form-group">
        <label for="like">like_number</label>
        <input id="like" type="number" class="form-control" formControlName="like_number" required>
    </div>
    <div class="form-group">
        <label for="average_grade">average_grade</label>
        <input id="average_grade" type="number" class="form-control" formControlName="average_grade" required>
    </div>
    <div class="form-group">
        <label for="jury_grade">average_jury_grade</label>
        <input id="jury_grade" type="number" class="form-control" formControlName="average_jury_grade" required>
    </div>
    <div formArrayName="color" class="form-group">
      <div>
        <label for="colors">color</label>
        <select id="colors" [formControlName]="color" multiple >
          <option *ngFor="let col of color" [value]="col.label">{{col.label}} </option>
        </select>
      </div>
    </div>
    <div formArrayName="technology" class="form-group">
        <div>
      <label for="techno">technology</label>
      <select id="techno" [formControlName]="technology" multiple >
        <option *ngFor="let techno of technology" [value]="techno.label">{{techno.label}} </option>
      </select>
    </div>
    </div>
    <div  formArrayName="country" class="form-group">
        <div>
      <label for="country">Country</label>
      <select id="country"  [formControlName]="country" >
        <option *ngFor="let country of country" [value]="country.label">{{country.label}} </option>
      </select>
    </div>
    </div>
    <div class="form-group">
      <label for="nominated"> Nominée</label>
      <input id="nominated" type="radio" class="form-control" formControlName="is_nominated" required>
    </div>
  <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <pre>{{websiteForm.value | json}}</pre>
</div>
