<div class="greyBackground">
  <div class="container">
    <div class="text-center central">
      <img src="http://www.businesspme.net/public/_upload/images/photos_personnes/11_img-9909-1-carre-zoom.jpg"
           class="rounded-circle img-thumbnail resizePP" alt="...">
      <h1>MentalWork</h1>
      <span>Agence Digitale</span><span class="grey"> | Indépendante | France</span><br><br>
      <button type="button" class="btn btn-outline-secondary call-to-action">SITE WEB</button>
      <button type="button" class="btn btn-outline-secondary call-to-action"><i class="fa fa-share"></i></button>
      <br><br>
      <p><strong>Mentalwork est une agence digitale technologique de taille humaine spécialisée dans la création de sites web et d'applications métiers/mobile à forte valeur ajoutée</strong></p>
      <button type="button" class="btn btn-outline-secondary tags">UX DESIGN</button>
      <button type="button" class="btn btn-outline-secondary tags">WEB DESIGN</button>
      <button type="button" class="btn btn-outline-secondary tags">E-MARKETING</button>
      <button type="button" class="btn btn-outline-secondary tags">UI DESIGN</button>
    </div>
  </div>
</div>
<div class="infoAgency">
  <div class="container">
    <div class="text-center central">
      <p>Salut</p>
    </div>
  </div>
</div>
