<div *ngIf="agency" class="info-client-page">
  <div class="container">
    <div class="text-center central">
      <img src="{{agency.image}}"
           class="rounded-circle img-thumbnail resizePP">
      <h1 class="font-bold">{{agency.name}}s</h1>
      <div class="desc-agency">
        <span class="font-bold">{{agency.expertise}}</span>
        <div class="vertical_line_grey"></div>
        <span> {{agency.categories}} </span>
        <div class="vertical_line_grey"></div>
        <span> {{agency.country}}</span>
      </div>
      <div class="social-rate">
        <i class="fas fa-eye"> 999 K</i>
        <i class="fas fa-heart"> 999 K</i>
        <i class="fas fa-star"> 1 Awards</i>
        <i class="fas fa-arrow-alt-circle-up"> Note globale : 8.9</i>
      </div>
      <div class="description-btn">
        <button type="button" class="btn btn-outline-secondary">SITE WEB</button>
        <button type="button" class="btn btn-outline-secondary"><i class="fa fa-share"></i></button>
        <p><strong>{{agency.presentation}}</strong></p>
      </div>
      <div class="category-btn">
        <button type="button" class="btn btn-outline-secondary">UX DESIGN</button>
        <button type="button" class="btn btn-outline-secondary">WEB DESIGN</button>
        <button type="button" class="btn btn-outline-secondary">E-MARKETING</button>
        <button type="button" class="btn btn-outline-secondary">UI DESIGN</button>
        <button type="button" class="btn btn-outline-secondary">CRM</button>
        <button type="button" class="btn btn-outline-secondary">Intranet</button>
      </div>
    </div>
  </div>
</div>

<div class="infoClient">
  <div class="container">
    <div class="row">
      <div class="info">
        <div class="header-info">
          <p>Pays</p>
        </div>
        <div class="footer-info">

          <p><i class="fas fa-flag"></i> {{agency.country}}</p>
        </div>
      </div>
      <div class="info">
        <div class="header-info">
          <p>Catégorie</p>
        </div>
        <div class="footer-info">
          <p>{{agency.categories}}</p>
        </div>
      </div>
      <div class="info">
        <div class="header-info">
          <p>Statut</p>
        </div>
        <div class="footer-info">
          <p>{{agency.expertise}}</p>
        </div>
      </div>
      <div class="info">
        <div class="header-info">
          <p>Date de création</p>
        </div>
        <div class="footer-info">
          <p>2000</p>
        </div>
      </div>
      <div class="info">
        <div class="header-info">
          <p>Chiffre d'affaires</p>
        </div>
        <div class="footer-info">
          <p> {{agency.revenue}}</p>
        </div>
      </div>
      <div class="info">
        <div class="header-info">
          <p>Effectifs</p>
        </div>
        <div class="footer-info">
          <p>{{agency.staff_number}}</p>
        </div>
      </div>
      <div class="info">
        <div class="header-info">
          <p>Auteurs</p>
        </div>
        <div class="footer-info">
          <p>3</p>
        </div>
      </div>
    </div>
  </div>
</div>
