<div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#">
                <img class="img-responsive" src="{{ asset('bundles/back/img/logo.png') }}">
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="{{ path('back_home') }}">
                    <i class="link-red ti-home"></i>
                    <p class="link-black">Accueil</p>
                </a>
            </li>
            <li>
                <a href="{{ path('back_form') }}">
                    <i class="link-red ti-face-smile"></i>
                    <p class="link-black">Formulaire</p>
                </a>
            </li>
            <li>
                <a href="{{ path('back_parameters') }}">
                    <i class="link-red ti-agenda"></i>
                    <p class="link-black">Paramètres</p>
                </a>
            </li>
        </ul>
    </div>
</div>
