<div class="grey">
    <p class="text-center font-weight-bold">Derniers sites soumis aux votes</p>
    <div class="container_custom">
        <div class="card-columns" *ngIf="website">
            <div *ngFor="let web of website" class="card">
                <img class="card-img-top" [routerLink]="['/website/'+ web.id]"
                     src="http://localhost/3w_awards/back/web/uploads/images/website/{{web.image}}"
                     alt="Card image cap">
                <div class="card-body">
                    <p class="card-title"></p>
                    <p class="card-text">Par <a class="links" [routerLink]="['/agency']">{{web.created_by}}</a>
                        France</p>
                    <div class="footerCard">
                        <div class="date">
                            <p class="text-muted">{{web.release_date}}</p>
                        </div>
                        <div class="linking">
                            <i class="fas fa-star"> 110 K</i>
                            <i class="fas fa-eye">{{web.view_number}}</i>
                            <i class="fas fa-heart">{{web.like_number}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
