<div class="grey" >
  <div>
    <p class="text-center font-weight-bold">Derniers sites soumis aux votes</p>
  </div>
  <div class="container">
    <div class="card-deck">
      <!-- il faut faire un *ngFor afin de récupérer les site sous formes de cards   -->
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/420x300" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">Ruya</p>
          <p class="card-text">Par <a href="">Ruya</a> United states</p>
          <p class="text-muted">29 novembre 2017</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/420x300" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">Creative by toto</p>
          <p class="card-text">Par <a href="">Digistudio</a> Japon</p>
          <p class="text-muted">28 novembre 2017</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/420x300" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">ANNA ESHWOOD</p>
          <p class="card-text">Par <a href="">Korellis</a> Anglterre </p>
          <p class="text-muted">27 novembre 2017</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/420x300" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">G-LLERY</p>
          <p class="card-text">Par <a href="">Samix</a> Espagne</p>
          <p class="text-muted">26 novembre 2017</p>
        </div>
      </div>
    </div>
  </div>
</div>
