<div class="mt-1">
  <p class="text-center font-weight-bold">Derniers sites soumis aux votes</p>
</div>
<div class="container">
  <div class="card-deck">
    <!-- il faut faire un *ngFor afin de récupérer les site sous formes de cards   -->
    <div class="card">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ruya</h5>
        <p class="card-text">Par <a href="">Ruya</a> United states</p>
        <p class="text-muted">29 novembre 2017</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Creative by toto</h5>
        <p class="card-text">Par <a href="">Digistudio</a> Japon</p>
        <p class="text-muted">28 novembre 2017</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ANNA ESHWOOD</h5>
        <p class="card-text">Par <a href="">Korellis</a> Anglterre </p>
        <p class="text-muted">27 novembre 2017</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">G-LLERY</h5>
        <p class="card-text">Par <a href="">Samix</a> Espagne</p>
        <p class="text-muted">26 novembre 2017</p>
      </div>
    </div>
  </div>
</div>
