<div class="grey spacing">
  <div class="container_custom">
    <div class="header-cards">
      <span class="text-center font-weight-bold">2 sites </span> <span> Nominés </span>
      <div class="vertical_line_grey"></div>
      <span class="text-center font-weight-bold">1 Awards </span> <span> gagné </span>
    </div>
    <div class="card-columns" *ngIf="customer">
      <!-- il faut faire un *ngFor afin de récupérer les site sous formes de cards   -->
      <div *ngFor="let web of customer.project" class="card">
        <img class="card-img-top" [routerLink]="['/website/'+ web.id]" src="http://via.placeholder.com/420x300"
             alt="Card image cap">
        <div class="card-body">
          <p class="card-title">{{web.name}}</p>
          <p class="card-text">Par <a class="links" [routerLink]="['/']">{{customer.name}}</a> {{customer.country}}</p>
          <div class="footerCard">
            <div class="date">
              <p class="text-muted">29 novembre 2017</p>
            </div>
            <div class="linking">
              <i class="fas fa-eye"></i>
              <i class="fas fa-heart"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
