<div class="greyBackground myProfil">
    <div class="container" style="background-color: red;">
        <div class="col-md-12 formDiv">
            <h2>Identité</h2>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Civilité :</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Monsieur</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Madame</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Nom ou pseudo :</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control noRoundedCorners" id="lastName" placeholder="SALESSE">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Prénom :</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control noRoundedCorners" id="firstName" placeholder="Olivier">
                </div>
            </div>
            <h2>Connexion</h2>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">E-mail :</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control noRoundedCorners" id="email"
                           placeholder="olivier@salesse.fr">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Mot de passe :</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control noRoundedCorners" id="inputPassword"
                           placeholder="******">
                </div>
            </div>
            <h2>Profil</h2>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Date de naissance :</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control noRoundedCorners" id="inputPassword" placeholder="******">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Pays :</label>
                <div class="col-sm-5">
                    <select class="form-control noRoundedCorners" id="exampleFormControlSelect1">
                        <option>France</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Métier/profession :</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control noRoundedCorners" id="inputPassword" placeholder="******">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Présentation/bio :</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control noRoundedCorners" id="inputPassword" placeholder="******">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Compétences clés :</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control noRoundedCorners" id="inputPassword" placeholder="******">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Centres d'intérêts :</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control noRoundedCorners" id="inputPassword" placeholder="******">
                </div>
            </div>
            <h2>Liens web</h2>
        </div>
    </div>
</div>
