<div class="greyBackground myProfil">
    <div class="container_custom">
        <div class="profil">
            <div class="identity">
                <h2>Identité</h2>
                <div class="form-group">
                    <label class="civility">Civilité :</label>
                    <label class="radio-inline" for="inlineCheckbox1">
                        <input type="radio" name="optradio" id="inlineCheckbox1">Monsieur
                    </label>
                    <label class="radio-inline" for="inlineCheckbox2">
                        <input type="radio" name="optradio" id="inlineCheckbox2">Madame
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="col-md-12 formDiv">-->
            <!--<h2>Identité</h2>-->
            <!--<div class="form-group row">-->
                <!--<label class="">Civilité :</label>-->
                <!--<div class="">-->
                    <!--<div class="form-check form-check-inline">-->
                        <!--<input class="form-check-input checkmark" checked="" type="radio" id="inlineCheckbox1"-->
                               <!--value="option1">-->
                        <!--<label class="form-check-label" for="inlineCheckbox1">Monsieur</label>-->
                    <!--</div>-->
                    <!--<div class="form-check form-check-inline">-->
                        <!--<input class="form-check-input checkmark" type="radio" id="inlineCheckbox2" value="option2">-->
                        <!--<label class="form-check-label" for="inlineCheckbox2">Madame</label>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="imageProfil">-->
                <!--<p>Photo/avatar :</p>-->
                <!--<img src="http://www.businesspme.net/public/_upload/images/photos_personnes/11_img-9909-1-carre-zoom.jpg"-->
                     <!--class="resizePP" alt="...">-->
                <!--<div class="upload-content">-->
                <!--<button type="button" class="btn btn-light roundedCorners upload">Upload</button>-->
                <!--<i class="fa fa-info-circle"></i>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-3 col-form-label">Nom ou pseudo :</label>-->
                <!--<div class="vertical_line_red"></div>-->
                <!--<div class="col-sm-7">-->
                    <!--<input type="text" class="form-control noRoundedCorners" id="lastName" placeholder="SALESSE">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-3 col-form-label">Prénom :</label>-->
                <!--<div class="col-sm-7">-->
                    <!--<input type="text" class="form-control noRoundedCorners" id="firstName" placeholder="Olivier">-->
                <!--</div>-->
            <!--</div>-->
            <!--<h2>Connexion</h2>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-3 col-form-label">E-mail :</label>-->
                <!--<div class="col-sm-7">-->
                    <!--<input type="text" class="form-control noRoundedCorners" id="email"-->
                           <!--placeholder="olivier@salesse.fr">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-3 col-form-label">Mot de passe :</label>-->
                <!--<div class="col-sm-7">-->
                    <!--<input type="password" class="form-control noRoundedCorners" id="inputPassword"-->
                           <!--placeholder="******">-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;**********&ndash;&gt;-->
            <!--&lt;!&ndash;PROFIL&ndash;&gt;-->
            <!--&lt;!&ndash;**********&ndash;&gt;-->
            <!--<h2>Profil</h2>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Date de naissance :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="date" class="form-control noRoundedCorners" id="13/08/1993" placeholder="">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="FormControlSelect1" class="col-sm-2 col-form-label">Pays :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<select class="form-control noRoundedCorners" id="FormControlSelect1">-->
                        <!--<option>France</option>-->
                        <!--<option>2</option>-->
                        <!--<option>3</option>-->
                        <!--<option>4</option>-->
                        <!--<option>5</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Métier/profession :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<select class="form-control noRoundedCorners">-->
                        <!--<option>Directeur de création</option>-->
                        <!--<option>2</option>-->
                        <!--<option>3</option>-->
                        <!--<option>4</option>-->
                        <!--<option>5</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Présentation/bio :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="password" class="form-control noRoundedCorners"-->
                           <!--placeholder="Co fondateur de mentalworks">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Compétences clés :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="password" class="form-control noRoundedCorners" placeholder="">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Centres d'intérêts :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="password" class="form-control noRoundedCorners" placeholder="">-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;**********&ndash;&gt;-->
            <!--&lt;!&ndash;SOCIAL&ndash;&gt;-->
            <!--&lt;!&ndash;**********&ndash;&gt;-->
            <!--<h2>Liens web</h2>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Site web personnel :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="password" class="form-control noRoundedCorners"-->
                           <!--placeholder="https://www.salesse.com">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Facebook :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="password" class="form-control noRoundedCorners"-->
                           <!--placeholder="https://www.salesse.com">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Twitter :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="password" class="form-control noRoundedCorners"-->
                           <!--placeholder="https://www.salesse.com">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">LinkedIn :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="password" class="form-control noRoundedCorners"-->
                           <!--placeholder="https://www.salesse.com">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Instagram :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="password" class="form-control noRoundedCorners"-->
                           <!--placeholder="https://www.salesse.com">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Behance :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="password" class="form-control noRoundedCorners"-->
                           <!--placeholder="https://www.salesse.com">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Dribbble :</label>-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="password" class="form-control noRoundedCorners"-->
                           <!--placeholder="https://www.salesse.com">-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;***********&ndash;&gt;-->
            <!--&lt;!&ndash;CHECKBOXES OPT IN&ndash;&gt;-->
            <!--&lt;!&ndash;***********&ndash;&gt;-->
            <!--<div class="optInSubmit">-->
                <!--<div class="form-check col-sm-7">-->
                    <!--<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">-->
                    <!--<label class="form-check-label" for="defaultCheck1">-->
                        <!--Etre informé par e-mail des nouveaux sites publiés.-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div class="form-check col-sm-6">-->
                    <!--<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">-->
                    <!--<label class="form-check-label" for="defaultCheck2">-->
                        <!--J'accepte de recevoir la newsletter et des informations de la part de 3wawards.-->
                    <!--</label>-->
                <!--</div>-->
                <!--<button type="button" class="btn btn-cancel">Annuler</button>-->
                <!--<button type="button" class="btn btn-submit">Sauvegarder</button>-->
            <!--</div>-->
        <!--</div>-->
