.profil{
    width:80%;
    margin: 0 auto;
}
.civility{
    margin-right: 15%;
}




/*.greyBackground {
    background-color: #dddddd;
}
.noRoundedCorners {
    border-radius: 0;
}
.formDiv {
    width: 80%;
    margin:0 auto;
}
.optInSubmit {
    margin-left: 185px;
}
p, label, button {
    font-family: 'Monserrat', 'Open Sans', sans-serif;
    font-weight: 400;
    color:  grey;
}
.cancel {
    width: 150px;
    height: 75%;
    border-radius: 50px;
    background-color: white;
    border-color: white;
    color: #eb1c24;
    font-weight: 700;
}
.submit {
    width: 150px;
    border-radius: 50px;
    background-color: #eb1c24;
    color: white;
    font-weight: 700;
}
.resizePP {
    width: 70%;
}
.imageProfil {
    position:absolute;
    left:85%;
    top: 60px;
    display: flex;
    flex-direction: column;
}
.upload {
    border-radius: 50px;
    margin-top: 10px;
    width: 80px;
    height: 40px;
}
.upload-content{
    display:flex;
    flex-direction: row;
}
.upload-content .fa-info-circle{
    color: grey;
    font-size:20px;
    margin-top:20px;
    margin-left:8px;
}
.vertical_line_red{
    border-left:2px solid red;
    padding-left: -2px;
}*/
